@{
    ViewData["Title"] = "Payment Error";
}

<h2>Payment Error</h2>

<p>Bank Name: @ViewBag.BankName</p>
<p>Account Number: @ViewBag.AccountNumber</p>
<p>Beneficiary: @ViewBag.Beneficiary</p>
<p>Donor Name: @ViewBag.DonorName</p>
<p>Amount: @ViewBag.Amount</p>
<p>Payment Description: @ViewBag.Message</p>
